{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container h-100" style="padding-top:30px;padding-bottom:60px">
  <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Add Friend</li>
  </ol>
</nav>
<form id="form" method="POST" action="{% url 'app_addfriend:add_friend' %}">
  {% csrf_token %}
  {{ addfriend.as_p }}
  <button type="submit" class="btn btn-dark float-right">Add Friend</button>
</form>
<nav aria-label="breadcrumb " style="padding-top:100px">
<ol class="breadcrumb">
  <li class="breadcrumb-item active" aria-current="page">List Friends</li>
</ol>
</nav>
<div class="table-responsive">
<table class="table">
  <thead>
      <tr>
        <th>Name</th>
        <th>URL</th>
        <th>Added Time</th>
      </tr>
        <tbody>
            {% for i in friend %}
            <tr>
                <td> {{i.name}} </td>
                <td> <a href="{{i.url}}">{{i.url}}</a></td>
                <td> {{i.date}} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
{% endblock %}
