{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container h-100" style="padding-top:30px;padding-bottom:60px">
  <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Stats</li>
  </ol>
</nav>

  <div class="row" style="margin-top:40px">
    <div class="col-md-2 text-center">
      <img src="{% static 'image/tes1.jpeg' %}" class="rounded-circle" width="100" height="100"/>
    </div>
    <div class="col-md-10" style="vertical-align: middle;">
      <h2>{{name}}</h2>
      <p class="lead">
      Friends : {{friends}}
      <br>
      Feed : {{feed}}</p>
    </div>
  </div>
  <div class="row" style="margin-top:40px; margin-left:15px">
    <span class="lead">Latest Post</span>
  </div>
  <div class="row" style="margin-top:10px; margin-left:15px">
    <img src="{% static 'image/tes1.jpeg' %}" class="rounded-circle" width="50" height="50"/>
  </div>
  <div class="row" style="margin-top:10px; margin-left:15px">
    <h6>{{name}}</h6>
  </div>
  <div class="row" style="margin-top:5px; margin-left:15px">
      <p class="mb-0">{{latest_post.content}}</p>
  </div>
  <div class="row" style="margin-top:5px; margin-left:15px">
  {{latest_post.date}}
  </div>
</div>
{% endblock %}
