{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container h-100" style="padding-top:30px;padding-bottom:60px">
  <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Profile</li>
  </ol>
</nav>
  <div class="row justify-content-center" style="margin-top:40px">
    <div class="col-12 text-center">
      <img src="{% static 'image/tes1.jpeg' %}" class="rounded-circle" width="200" height="200"/>
    </div>
  </div>
  <div class="row" style="margin-top:10px; margin-bottom:30px">
    <div class="col-12 text-center">
      <h2>{{name}}</h2>
    </div>
  </div>
  <div class="row justify-content-center"  style="margin-top:10px; margin-bottom:10px">
    <div class="col-3">
      <span class="lead">Gender</lead>
    </div>
    <div class="col-6">
      {{gender}}
    </div>
  </div>
  <div class="row justify-content-center" style="margin-top:10px; margin-bottom:10px">
    <div class="col-3">
      <span class="lead">Birthdate</lead>
    </div>
    <div class="col-6">
      {{birthdate}}
    </div>
  </div>
  <div class="row justify-content-center" style="margin-top:10px; margin-bottom:10px">
    <div class="col-3">
      <span class="lead">Email</lead>
    </div>
    <div class="col-6">
      {{email}}
    </div>
  </div>
  <div class="row justify-content-center" style="margin-top:10px; margin-bottom:10px">
    <div class="col-3">
      <span class="lead">Expertises</lead>
    </div>
    <div class="col-6">
      {% for ex in expertise %}
      <span class="badge badge-pill badge-dark lead">{{ex}}</span>
      {% endfor %}
    </div>
  </div>
  <div class="row justify-content-center" style="margin-top:10px; margin-bottom:10px">
    <div class="col-3">
      <span class="lead">Description</lead>
    </div>
    <div class="col-6">
      {{description}}
    </div>
  </div>
</div>
{% endblock %}
