{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container h-100" style="padding-top:30px;padding-bottom:60px">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Komentar</li>
    </ol>
  </nav>
  <p>Status id: {{ status_id }}</p>
  <form id="form" method="POST" action="{% url 'app_status:insert_comment' %}">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <input type="hidden" value="{{ status_id }}" name="status_id" />
    <button type="submit" class="btn btn-dark float-right">Submit</button>
  </form>
</div>
{% endblock %}