{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container h-100" style="padding-top:30px;padding-bottom:60px">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Lini Masa</li>
    </ol>
  </nav>
  <form id="form" method="POST" action="{% url 'app_status:update_status' %}">
    {% csrf_token %}
    {{ update_status.as_p }}
    <button type="submit" class="btn btn-dark float-right">Post</button>
  </form>
</div>

<div class="container h-100" style="padding-top:30px;padding-bottom:60px">
  {% for status in all_status %}
    <div class="card" style="">
      <div class="card-body">
        <img src="{% static 'image/tes1.jpeg' %}" class="rounded-circle" width="50" height="50" border="2px" style="vertical-align: middle;"/>
        <h5 class="card-title" style="vertical-align: middle; display:inline-block;"><b>&ensp;{{ name }}</b></h5></br></br>
        <p class="card-text">{{ status.content }}</p>
        <form action="{% url 'app_status:comment_page' %}" method="post">
          {% csrf_token %}
          <input type="hidden" value="{{ status.id }}" name="status_id" />
          <input type="submit" name="insert_comment" value="Comment" class="btn btn-primary float-right">
        </form>
      </div>
      <div class="card-footer">
        <small class="text-muted">{{ status.date }}</small></br>
        <small class="text-muted">Status id: {{ status.id }}</small>
      </div>
    </div>

    {% for comment in all_comment %}
      {% ifequal status.id comment.status_id %}
        <div class="card w-75" style="margin-left:auto; margin-right:0;">
          <div class="card-body">
            <h5 class="card-title"><b>{{ comment.name }}</b></h5>
            <p class="card-text">{{ comment.content }}</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">{{ comment.date }}</small></br>
            <small class="text-muted">Status id: {{ status.id }}</small>
          </div>
        </div> 
      {% endifequal %}
    {% endfor %}

    </br></br>
  {% endfor %}
</div>

{% endblock %}
